@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg-color: #ecca9c;
  --secondary-bg-color: #dba979;
  --main-heading-color: #0e6008;
  --main-text-color: #c45508;
  --second-main-text-color: #954004;
  --secondary-text-color: #afd198;
  --main-card-color: #1e3458;
  --secondary-card-color: #e8efcf;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-card-color);
}

main p {
  margin-bottom: 1rem;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--secondary-text-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main form div {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
}

main form label {
  margin-bottom: 0.5rem;
}

main form input,
main form textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--main-bg-color);
  font-family: 'Montserrat', sans-serif;
}

main form input[type='submit'] {
  background-color: var(--main-heading-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

main form input[type='submit']:hover {
  background-color: var(--main-text-color);
}
