@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg-color: #ecca9c;
  --secondary-bg-color: #dba979;
  --main-heading-color: #0e6008;
  --main-text-color: #c45508;
  --second-main-text-color: #954004;
  --secondary-text-color: #afd198;
  --main-card-color: #1e3458;
  --secondary-card-color: #e8efcf;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--main-bg-color);
  padding: 0 1.3rem;
  border-top: 4px solid var(--main-text-color);
}

footer .footer-content ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

footer .footer-content ul {
  font-weight: 600;
  letter-spacing: 2px;
}

footer .footer-content ul li {
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

footer .footer-content ul li a {
  color: var(--main-heading-color);
}

footer .footer-content ul li:hover {
  background-color: var(--secondary-card-color);
}

footer .footer-content ul li i {
  color: var(--main-text-color);
}
