@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg-color: #ecca9c;
  --secondary-bg-color: #dba979;
  --main-heading-color: #0e6008;
  --main-text-color: #c45508;
  --second-main-text-color: #954004;
  --secondary-text-color: #afd198;
  --main-card-color: #1e3458;
  --secondary-card-color: #e8efcf;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Main */

main {
  min-height: 100vh;
  background-color: var(--secondary-card-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 3rem;
  padding: 1rem;
}

.edit-form {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-form form {
  color: white;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-heading-color);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  position: relative;
}

.edit-form label {
  font-size: 1.3rem;
  font-weight: 700;
}

.edit-form input,
.edit-form textarea {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
}

main .card {
  background-color: var(--main-heading-color);
  height: 100%;
  max-width: 37rem;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  border: 4px solid var(--secondary-card-color);
  color: var(--secondary-bg-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main .card:hover {
  border: 4px solid var(--main-bg-color);
  background-color: var(--main-card-color);
}

main .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--secondary-bg-color);
}

main .card .card-header .card-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

main .card .card-header .card-title {
  font-weight: 700;
  letter-spacing: 3px;
}

.edit-form .btn,
main .card .card-header .btn {
  background-color: var(--secondary-text-color);
  padding: 0.5rem 0.7rem;
  border-radius: 40px;
  border: none;
  color: var(--second-main-text-color);
  cursor: pointer;
  font-size: 1.7rem;
  transition: all 0.3s ease-in-out;
}

.edit-form .btn:hover,
main .card .card-header .btn:hover {
  background-color: var(--main-text-color);
  color: white;
}

main .card .card-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: white;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--secondary-bg-color);
}

main .card .card-details i {
  margin-right: 0.4rem;
}

main .card .card-details li:first-child i {
  color: rgb(247, 247, 0);
}

main .card .card-details li span {
  font-weight: 700;
  margin-left: 0.3rem;
  font-size: 1.5rem;
}

main .card .card-instructions {
  margin-top: 0.5rem;
}

main .card .card-instructions p {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--main-text-color);
  color: white;
  margin-left: 0.5rem;
  border-radius: 5px;
}

main .card .card-instructions i {
  color: white;
}
